@import '../../styles/global.scss';
.breed-item-container{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-radius: 10px;
  cursor: pointer;
  @media screen and (max-width: $mobile-size) {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}
.breed-item-text{
  color: #fff;
  font-weight: 600;
  
}
