@import '../../styles/global.scss';
.images-list-continer{
    height: calc(100vh - #{$layout-padding});
    overflow: auto;
    
}
.breed-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.breed-image-col{
    margin-top: 15px;
}
.refresh-button{
    width: 70px;
    height: 70px;
    background-color: $primary-color;
    border-radius: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.empty-image-continer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}